<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap5 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">

    <div class="container pt-5" >
        <h2>{{title}}</h2>

        <p class="w-75">
        {{message}}
        </p>

    </div>
    <div class="container pt-5">
        <form method="post" action="/chat/say">
            <div class="input-group">
                <input type="text" class="form-control" name="prompt" placeholder="输入你的问题">
                <input type="submit" class="btn btn-info" value="提交">
            </div>
        </form>
    </div>


</div>

<script>


</script>
</body>
</html>